.App {
  width: 99%;
  height: 100vh;
  margin-bottom: 90px;
  display: grid;
  grid-template-areas:
    "entrada estrategicos salida"
    "entrada misionales salida"
    "entrada apoyo salida"
    "entrada evaluacion salida";
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: 25% 25% 25% 25%;
  grid-row-gap: 25px;
  grid-column-gap: 20px;
}
.entrada {
  grid-area: entrada;
  border: 3px solid #4a5b80;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.estrategicos {
  grid-area: estrategicos;
  border: 3px solid #4a5b80;
  position: relative;
}
.misionales {
  grid-area: misionales;
  border: 3px solid #4a5b80;
  position: relative;
}
.apoyo {
  grid-area: apoyo;
  border: 3px solid #4a5b80;
  position: relative;
}
.evaluacion {
  grid-area: evaluacion;
  border: 3px solid #4a5b80;
  position: relative;
}
.salida {
  grid-area: salida;
  border: 3px solid #4a5b80;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Crear */
.crear-container {
  align-self: flex-start;
  height: 210%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 144, 187, 0.11);
  position: relative;
}
.crear {
  position: relative;
  width: 70%;
  height: 70%;
  background-color: rgba(55, 84, 87, 0.11);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Icon */
.icon-agregar {
  position: absolute;
  top: 0;
  right: 0;
  font-size: larger;
  color: white;
  background-color: #4a5b80;
  padding: 6px;
  transition: all 300ms;
}
.icon-agregar:hover {
  color: #32af43;
  background-color: white;
}
.icon-xmark {
  position: absolute;
  top: 0;
  right: 0;
  font-size: x-large;
  color: #6c89c9;
  padding: 6px;
  transition: all 300ms;
}
.icon-xmark:hover {
  color: red;
}
.icon-trash {
  color: white;
  transition: all 300ms;
}
.icon-trash:hover {
  color: #d84734;
}
.icon-trash-entrada {
  font-size: small;
  color: white;
  transition: all 300ms;
  margin-top: 10px;
}
.icon-trash-entrada:hover {
  color: #d84734;
}
.icon-gear {
  color: white;
  transition: all 300ms;
}
.icon-gear:hover {
  color: #4a5b80;
}
.iconos {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4px;
  right: 4px;
}
.iconos p {
  margin: 0px 5px 0px 0px;
  height: min-content;
  padding: 0;
}

.iconos-misionales {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 15px;
}
.iconos-misionales:hover {
  color: #d84734;
}
.iconos-misionales p {
  margin: 0px 5px 0px 0px;
  height: min-content;
  padding: 0;
}

.icon-back-misional {
  font-size: 2rem;
  color: white;
}
.icon-back-misional:hover {
  color: #59ca91;
}

/* Crear*/
.crear form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 55%;
}
.crear form input[type="submit"] {
  width: 100%;
  padding: 5px;
  margin: 8px 0px 0px 0px;
  border: 0;
  color: #6c89c9;
  background-color: white;
  transition: all 300ms;
}
.crear form input[type="submit"]:hover {
  background-color: #4a5b80;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
.crear form input[type="text"] {
  width: 98%;
  text-align: center;
  padding: 5px;
  margin: 8px 0px 0px 0px;
  border: 0;
  color: #6c89c9;
  background-color: white;
}
.crear form select {
  width: 100%;
  text-align: center;
  padding: 5px;
  margin: 8px 0px 0px 0px;
  border: 0;
  color: #6c89c9;
  background-color: white;
}

/* Editar */
.editar-container {
  height: 210%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 144, 187, 0.11);
  border-radius: 5px;
  flex-direction: column;
  position: relative;
}
.editar {
  border-radius: 5px;
  position: relative;
  width: 70%;
  height: 70%;
  background-color: rgba(55, 84, 87, 0.11);
  display: flex;
  justify-content: center;
  align-items: center;
}
.editar form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 55%;
}
.editar form input[type="submit"] {
  width: 100%;
  padding: 5px;
  margin: 8px 0px 0px 0px;
  border: 0;
  background-color: white;
  color: #6c89c9;
  transition: all 300ms;
}
.editar form input[type="submit"]:hover {
  background-color: #4a5b80;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
.editar form input[type="text"] {
  width: 98%;
  text-align: center;
  padding: 5px;
  margin: 8px 0px 0px 0px;
  border: 0;
  color: #6c89c9;
  background-color: white;
}
.editar form select {
  width: 100%;
  text-align: center;
  padding: 5px;
  margin: 8px 0px 0px 0px;
  border: 0;
  color: #6c89c9;
  background-color: white;
}

/* PROCESOS */
.titulos {
  width: 35%;
  display: block;
  margin: 0 auto;
}
h3 {
  background-color: #4a5b80;
  color: white;
  text-align: center;
  margin: 0;
  border-radius: 0px 0px 10px 10px;
}
.entrada-salida {
  width: 35%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6c89c9;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 2em;
}
.entrada-salida-amarillo {
  width: 35%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bfc236;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 2em;
}
.entrada-salida-verde {
  width: 35%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #59ca91;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 2em;
}
.entrada-salida-naranja {
  width: 35%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1a541;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 2em;
}
.procesos-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.procesos {
  width: 19%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6c89c9;
  color: white;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  margin: 10px;
  transition: all 300ms;
  position: relative;
}
.procesos-verde {
  width: 19%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #59ca91;
  color: white;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 500;
  margin: 10px;
  transition: all 300ms;
  position: relative;
}
.procesos-amarillo {
  width: 19%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bfc236;
  color: white;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 500;
  margin: 10px;
  transition: all 300ms;
  position: relative;
}
.procesos-naranja {
  width: 19%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1a541;
  color: white;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 500;
  margin: 10px;
  transition: all 300ms;
  position: relative;
}
.procesos:hover,
.procesos-amarillo:hover,
.procesos-naranja:hover,
.procesos-verde:hover {
  background-color: #a9b3c9;
  color: white;
}
.procesos-misionales {
  width: 15%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6c89c9;
  color: white;
  font-size: 12px;
  font-weight: 500;
  margin: 10px;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 13% 50%, 0% 0%);
  transition: all 300ms;
  position: relative;
}

.procesos-misionales-verde {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 13% 50%, 0% 0%);
  width: 15%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #59ca91;
  color: white;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  margin: 10px;
  transition: all 300ms;
  position: relative;
}
.procesos-misionales-amarillo {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 13% 50%, 0% 0%);
  width: 15%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bfc236;
  color: white;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  margin: 10px;
  transition: all 300ms;
  position: relative;
}
.procesos-misionales-naranja {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 13% 50%, 0% 0%);
  width: 15%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1a541;
  color: white;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  margin: 10px;
  transition: all 300ms;
  position: relative;
}
.procesos-misionales:hover,
.procesos-misionales-amarillo:hover,
.procesos-misionales-naranja:hover,
.procesos-misionales-verde:hover {
  background-color: #a9b3c9;
  color: white;
}

.procesos-misionales-amarillo::before,
.procesos-misionales-naranja::before,
.procesos-misionales-verde::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -25px;
  width: 25px;
  height: 7px;
  background-color: #4a5b80;
  transform: translateY(-50%);
}

.entrada div a {
  text-decoration: none;
  color: white;
  transition: all 300ms;
}
.entrada div a:hover {
  color: #4a5b80;
  transform: scale(1, 1.1);
}
.salida div a {
  text-decoration: none;
  color: white;
  transition: all 300ms;
}
.salida div a:hover {
  color: #4a5b80;
  transform: scale(1, 1.1);
}
.estrategicos div a {
  text-decoration: none;
  color: white;
  transition: all 300ms;
}
.estrategicos div a:hover {
  color: #4a5b80;
  transform: scale(1, 1.1);
}
.apoyo div a {
  text-decoration: none;
  color: white;
  transition: all 300ms;
}
.apoyo div a:hover {
  color: #4a5b80;
  transform: scale(1, 1.1);
}
.misionales div a {
  text-decoration: none;
  color: white;
  transition: all 300ms;
}
.misionales div a:hover {
  color: #4a5b80;
  transform: scale(1, 1.1);
}
.evaluacion div a {
  text-decoration: none;
  color: white;
  transition: all 300ms;
}
.evaluacion div a:hover {
  color: #4a5b80;
  transform: scale(1, 1.1);
}
.errores {
  color: #d84734;
  border-bottom: 1px dashed #d84734;
}

.errores-editar {
  position: absolute;
  bottom: 0;
  margin: -2px;
  color: #ec1e0b;
}

.back-proceso-misionales {
  position: absolute;
  bottom: -8px;
}

.procesos-container-misionales{
  grid-area: misionales;
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:flex-start
  
}

.flecha-container{
  height: 30px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
}

.flecha1{
  clip-path: polygon(39% 32%, 39% 41%, 100% 41%, 100% 60%, 39% 60%, 39% 72%, 0% 50%);
  height: 45px;
  width: 20%;
  margin: 0px;
  background-color: #4a5b80;
  transform: rotate(360deg);
}
.linea1{
  clip-path: polygon(39% 32%, 39% 41%, 100% 41%, 100% 60%, 39% 60%, 39% 72%, 0% 50%);
  height: 80px;
  width: 5%;
  background-color: #4a5b80;
  transform: rotate(90deg);
}
.flecha2{
  clip-path: polygon(39% 32%, 39% 41%, 100% 41%, 100% 60%, 39% 60%, 39% 72%, 0% 50%);
  height: 45px;
  width: 20%;
  margin: 0px;
  background-color: #4a5b80;
  transform: rotate(360deg);
}

.linea2{
  clip-path: polygon(39% 32%, 39% 41%, 100% 41%, 100% 60%, 39% 60%, 39% 72%, 0% 50%);
  height: 80px;
  width: 20px;
  margin: 0px;
  background-color: #4a5b80;
  transform: rotate(270deg);
}
.flecha3{
  clip-path: polygon(39% 32%, 39% 41%, 100% 41%, 100% 60%, 39% 60%, 39% 72%, 0% 50%);
  height: 45px;
  width: 20%;
  margin: 0px;
  background-color: #4a5b80;
  transform: rotate(360deg);
}
.linea3{
  clip-path: polygon(39% 32%, 39% 41%, 100% 41%, 100% 60%, 39% 60%, 39% 72%, 0% 50%);
  height: 80px;
  width: 20px;
  margin: 0px;
  background-color: #4a5b80;
  transform: rotate(270deg);
}
.linea4{
  clip-path: polygon(39% 32%, 39% 41%, 100% 41%, 100% 60%, 39% 60%, 39% 72%, 0% 50%);
  height: 80px;
  width: 5%;
  background-color: #4a5b80;
  transform: rotate(270deg);
}